.WeatherForecastDay {
  line-height: 3;
  display: flex;
  justify-content: flex-start;
}
.WeatherForecastDay .forecast-min {
  margin-left: 5px;
}
.WeatherForecastDay img {
  width: 30px;
  height: 30px;
}
