.Weather .wrapper {
  display: flex;
}

.Weather .temperature {
  font-size: 60px;
}
.Weather img {
  width: 60px;
  height: 60px;
}
.Weather .unit {
  margin-left: 5px;
  position: relative;
  line-height: 1;
  top: -30px;
}
.Weather .unit a {
  text-decoration: none;
}
